<div id="cljs-app">
  <p>ClojureScript app is loading...</p>
</div>

<script id="cljs-init-data" type="application/transit">
  <%= render "feed_init_data" %>
</script>

<%= javascript_include_tag 'cljs-feed' %>
