<div class="row">
  <div class="col-sm-7 col-lg-8">
    <div class="center jumbotron">
      <h1>Welcome</h1>
      <h2>This is the home page.</h2>
      <hr>
      <div>
        <%= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org/" %>
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-lg-4">
    <%= render 'shared/login_form' %>
    <div id="signup-form">
      <%= render 'shared/signup_form' %>
    </div>
  </div>
</div>
