<div class="page-header">
  <h1 class="text-center">Forgot password</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for :password_reset, url: password_resets_path do |f| %>
      <%= f.input :email, input_html: { autocomplete: "email" }, label: false, required: true %>
      <%= f.submit class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>
