html, body {
  height: 100%;
  min-height: 490px;
  margin: 0;
}
.error-page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FFFFFF;
  background-image: url(/standby.png);
  background-repeat:no-repeat;
  background-size:cover;
}

.error-page-wrapper .content-container {
  border-radius: 6px;
  text-align: center;
  padding:50px;
  background-color: #fff;
  max-width:525px;
  margin-left:auto;
  margin-right:auto;
}

.error-page-wrapper .head-line {
  font-size:48px;
  line-height:60px;
  letter-spacing: -1px;
  margin-bottom: 5px;
}
.error-page-wrapper .subheader {
  font-size:36px;
  line-height:46px;
}
.error-page-wrapper .hr {
  height:1px;
  background-color: #ddd;
  width:60%;
  max-width:250px;
  margin:35px auto;
}
.error-page-wrapper .context {
  font-size:18px;
  line-height:27px;
}
.error-page-wrapper .context p {
  margin:0;
}
.error-page-wrapper .context p:nth-child(n+2) {
  margin-top:16px;
}
.error-page-wrapper .buttons-container {
  margin-top: 35px;
  overflow: hidden;
}
.error-page-wrapper .buttons-container a {
  font-size:14px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 99px;
  padding:12px 0 13px;
  text-align: center;
  width:45%;
}

.error-page-wrapper .left-btn {
  float:left;
}

.error-page-wrapper .right-btn {
  float:right;
}

@media screen and (max-width: 555px) {
  .error-page-wrapper {
    padding:0 5%;
  }
  .error-page-wrapper .content-container {
    padding:37px;
  }
  .error-page-wrapper .head-line {
    font-size:36px;
  }
  .error-page-wrapper .subheader {
    font-size:27px;
    line-height: 37px;
  }
  .error-page-wrapper .hr {
    margin:30px auto;
    width:215px;
  }
}

@media screen and (max-width: 450px) {
  .error-page-wrapper .head-line {
    font-size:32px;
  }
  .error-page-wrapper .hr {
    margin:25px auto;
    width:180px;
  }
  .error-page-wrapper .context {
    font-size:15px;
    line-height:22px;
  }

  .error-page-wrapper .context p:nth-child(n+2) {
    margin-top:10px;
  }
  .error-page-wrapper .buttons-container {
    margin-top:29px;
  }
  .error-page-wrapper .buttons-container a {
    font-size:13px;
    padding:9px 0;
  }
}
/* =========== */
.primary-text-color {
  color: #494949;
}

.secondary-text-color {
  color: #AAAAAA;
}

.button {
  display: inline-block;
  background-color: #2ECC71;
  color: #FFFFFF;
}

.shadow {
  box-shadow: 0 0 58px #000000;
}
