<% @user ||= current_user %>
<div class="panel panel-default">
  <div class="panel-body text-center">
    <div class="row">
      <div class="col-xs-6">
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat badge">
            <%= @user.following.count %>
          </strong>
          following
        </a>
      </div>
      <div class="col-xs-6">
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat badge">
            <%= @user.followers.count %>
          </strong>
          followers
        </a>
      </div>
    </div>
  </div>
</div>
