<% @user ||= current_user %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener noreferrer">
        <%= gravatar_for(@user) %>
      </a>
      <%= link_to @user.name, @user %>
    </h3>
  </div>
  <div class="panel-body text-center">
    <div class="row">
      <div class="col-xs-6">
        <span><%= link_to "view my profile", @user %></span>
      </div>
      <div class="col-xs-6">
        <span class="label label-info">
          <%= pluralize(@user.microposts.count, "micropost") %>
        </span>
      </div>
    </div>
  </div>
</div>
