<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Feed <span class="badge"><%= @feed_items.count %></span></h3>
  </div>

  <% if @feed_items.any? %>
    <ul class="list-group microposts">
      <%= render @feed_items %> <%# microposts/_micropost %>
    </ul>
    <%= will_paginate @feed_items, class: 'panel-footer' %>
  <% end %>
</div>
