<div class="row">
  <div class="col-sm-7 col-lg-8">
    <div class="jumbotron welcome hidden-xs">
      <h1><%= t(:welcome) %></h1>
    </div>
  </div>
  <div class="col-sm-5 col-lg-4">
    <div id="login-form"><%= render 'login_form' %></div>
    <div id="signup-form"><%= render 'signup_form' %></div>
  </div>
</div>
