<div class="row">
  <div class="col-xs-6">
    <span><%= link_to t(:view_profile), @user %></span>
  </div>
  <div class="col-xs-6">
    <span class="label label-info microposts-count">
      <%= pluralize(@user.microposts_count, t(:micropost)) %>
    </span>
  </div>
</div>
